/* Modal Styles */
.modal,
.modal-content,
.modal-header,
.modal-title,
.modal-dialog {
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
  color: #f4f4f4;
  border-radius: 16px;
  box-shadow: 0 2px 12px 0 #00000022;
}
.modal {
  padding-top: 145px !important;
  padding-bottom: 20px !important;
  overflow-y: auto;
}
.modal-dialog {
  margin: 145px auto 10px auto !important;
  max-width: min(98vw, 500px);
  width: 100%;
  max-height: calc(100vh - 155px);
  display: block;
  display: flex;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}
.modal-content {
  border-radius: clamp(12px, 2vw, 24px) !important;
  padding: 0 !important;
  max-height: calc(100vh - 175px) !important;
  overflow-y: auto !important;
  box-sizing: border-box;
  background: #232226 !important;
  color: #f4f4f4 !important;
  border-radius: 16px;
  border: 1.5px solid #35343a !important;
  box-shadow: 0 2px 12px 0 #00000022;
}
.modal-header {
  border-bottom: 1px solid #313a5a;
}
.modal-title {
  color: #67e8f9 !important;
}
@media (max-width: 991.98px) {
  .modal-dialog {
    margin: 145px auto 3px auto !important;
    max-width: 99vw;
  }
}
@media (max-width: 575.98px) {
  .modal-dialog {
    margin: 145px auto 2px auto !important;
    max-width: 100vw;
  }
  .modal-content {
    max-height: calc(100vh - 175px) !important;
  }
  .modal {
    padding-top: 145px !important;
    padding-bottom: 10px !important;
  }
}
.modal.fade .modal-dialog {
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
  pointer-events: none;
}
.modal.show .modal-dialog {
  pointer-events: auto;
}
