<!-- Album Info Modal (shared, copied from albumCollection.html) -->
<div
  class="modal fade"
  id="albumInfoModal"
  tabindex="-1"
  aria-labelledby="albumInfoModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content bg-dark text-light">
      <div class="modal-header">
        <h5 class="modal-title" id="albumInfoModalLabel">Album Info</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body" id="albumInfoBody"></div>
    </div>
  </div>
</div>
